* {
  margin: 0;
  padding: 0;
  font-family: Helvetica Neue, sans-serif;
  color: black;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: auto;
  height: 65px;
  align-items: center;
  font-size: 35px;
  margin: 0 50px;
}

.logo {
  flex-grow: 1;
  margin-left: 15px;
  font-weight: 800;
}

.menu-contact {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

.menu-contact,
i {
  margin-right: 25px;
}

.heading {
  margin: 15%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 40px;
  margin-bottom: 20%;
}

.heading h1 {
  font-size: 100px;
}
.heading h2 {
  font-size: 75px;
}

.heading h1,
.heading h2 {
  text-shadow: 5px 5px 5px #7ebeff;
}

.contact-btn {
  margin-top: 20px;
  height: 50px;
  font-size: 25px;
  padding: 0px 25px;
  color: black;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 50px;
  text-align: center;
}

.contact-btn:hover {
  border: none;
  color: #7ebeff;
  box-shadow: 0 0 10px #7ebeff;
}

.about-container {
  background-color: dodgerblue;
  padding: 25px;
}
.about {
  margin: 3% 12%;
}

.about-info {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  line-height: 1.3;
}

.about-info h2 {
  color: white;
  margin-bottom: 45px;
  font-size: 100px;
  background-color: black;
  padding: 10px 25px;
}

.about-info p {
  color: white;
  font-size: 26px;
  text-align: center;
}

.about-info span {
  color: white;
  font-weight: 800;
  font-size: 26px;
  background-color: black;
  padding: 4px;
}

.languages-container {
  display: flex;
  flex-direction: column;
  margin-top: 7%;
  margin-bottom: 2%;
}

.language-header {
  text-align: start;
  margin-left: 20px;
  margin-bottom: 4%;
  /* font-size: 100px; */
}

.language-header h2 {
  font-size: 100px;
}

.language-border {
  border-bottom: 10px solid black;
}

.language-tags {
  margin: 75px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.tag {
  text-align: center;
  flex: 1 0 25%;
  padding: 35px;
}

.tag-span {
  color: white;
  font-weight: 800;
  font-size: xx-large;
  background-color: black;
  padding: 10px;
}

.projects-container {
  margin: 5% 0;
}

.projects-header {
  text-align: end;
  margin-bottom: 4%;
  margin-right: 20px;
}

.projects-header h2 {
  font-size: 100px;
}

.projects {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 5%;
  flex-wrap: wrap;
}

.project-display {
  display: relative;
  width: 600px;
  height: 550px;
  background-size: cover;
  padding: 0;
  margin-bottom: 4%;
  text-align: center;

  overflow: hidden;
  transition: 0.5s;
}

.project-display h1 {
  font-size: 75px;
}

.image {
  position: relative;
}

.project-img {
  position: block;
  width: 600px;
  height: 450px;
}

.image-overlay {
  margin: 0 auto;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 600px;
  height: 450px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  opacity: 0;
  transition: opacity 0.25s;
}

.image-overlay-blur {
  backdrop-filter: blur(5px);
}

.image-overlay > * {
  transform: translateY(40px);
  transition: transform 0.25s;
}

.image-overlay:hover {
  opacity: 1;
}

.image-overlay:hover > * {
  transform: translateY(0);
}

.project-tags {
  margin-top: 10px;
  font-weight: bolder;
}

.project-p {
  font-size: small;
}

.project-link {
  text-decoration: none;
  margin: 0 15px;
  padding: 10px 35px;
  font-size: larger;
  font-weight: 600;
  top: 20px;
  right: 50px;
  background-color: blue;
  color: white;
  border-radius: 25px;
}

.contact-container {
  padding: 5% 0;
  max-width: 100%;
  height: 700px;
  background-color: dodgerblue;
  margin-bottom: 50px;
}

.contact-container h2 {
  font-size: 100px;
  color: white;
  margin-left: 20px;
}

.contact-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

.input-box {
  position: relative;
  width: 100%;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 35%;
  padding: 40px;
}
.contact-form h3 {
  font-size: 35px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 5px 0;
  border: none;
  margin-top: 40px;
  font-size: 25px;
  border-bottom: 2px solid black;
}

.input-box label {
  font-size: 20px;
}

.social-icons {
  display: block;
  margin: 20px auto;
}

.social-icons i:hover,
.menu-contact i:hover {
  color: dodgerblue;
}

.submit-btn {
  background-color: transparent;
}

.submit-btn:hover {
  box-shadow: 0 0 15px rgb(53, 154, 255);
  color: dodgerblue;
}

.hide {
  display: none;
}

@media screen and (max-device-width: 2225px) {
  .project-display {
    width: 500px;
    height: 450px;
  }

  .project-img {
    width: 500px;
    height: 350px;
  }

  .image-overlay {
    width: 500px;
    height: 350px;
  }
}

@media screen and (max-device-width: 1777px) {
  .project-display {
    width: 400px;
    height: 350px;
  }

  .project-img {
    width: 400px;
    height: 250px;
  }

  .image-overlay {
    width: 400px;
    height: 250px;
  }
}

@media screen and (max-device-width: 1250px) {
  .contact-form {
    width: 55%;
  }

  .about {
    margin: 1% 0;
  }
  .heading h1,
  .language-header h2,
  .contact-container h2,
  .about-info h2,
  .projects-header h2 {
    font-size: 85px;
  }
  .heading h2 {
    font-size: 60px;
  }
}

@media screen and (max-device-width: 1107px) {
  .heading {
    margin: 10%;
  }
}

@media screen and (max-device-width: 967px) {
  .heading h1,
  .language-header h2,
  .contact-container h2,
  .about-info h2,
  .projects-header h2 {
    font-size: 75px;
  }
  .heading h2 {
    font-size: 50px;
  }
  .projects {
    justify-content: center;
  }
}

@media screen and (max-device-width: 807px) {
  .heading h1,
  .language-header h2,
  .contact-container h2,
  .about-info h2,
  .projects-header h2 {
    font-size: 65px;
  }
  .heading h2 {
    font-size: 40px;
  }

  .tag-span {
    font-size: 20px;
  }
}

@media screen and (max-device-width: 675px) {
  .heading h1,
  .language-header h2,
  .contact-container h2,
  .about-info h2,
  .projects-header h2 {
    font-size: 55px;
  }
  .heading h2 {
    font-size: 30px;
  }

  .tag-span {
    font-size: 15px;
  }
}

@media screen and (max-device-width: 620px) {
  .about-info p,
  .about-info span {
    font-size: 20px;
  }

  .contact-form {
    width: 75%;
  }
}

@media screen and (max-device-width: 545px) {
  .heading h1,
  .language-header h2,
  .contact-container h2,
  .about-info h2,
  .projects-header h2 {
    font-size: 50px;
  }
  .heading h2 {
    font-size: 26px;
  }

  .heading,
  .about-info {
    padding: 2px;
  }

  .logo {
    margin: 0;
    padding: 0;
    font-size: 25px;
    align-items: center;
  }
  .menu-contact,
  i {
    margin: 0;
    padding: 0 10px;
    font-size: 15px;
    align-items: center;
  }

  nav {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact-btn {
    height: 50px;
    font-size: 20px;
  }
}

@media screen and (max-device-width: 464px) {
  .heading h1,
  .language-header h2,
  .contact-container h2,
  .about-info h2,
  .projects-header h2 {
    font-size: 45px;
  }
  .heading h2 {
    font-size: 20px;
  }

  .project-img,
  .image-overlay,
  .image-overlay-blur {
    max-width: 100%;
  }

  .about-info p,
  .about-info span {
    font-size: 15px;
  }
  .about-info span {
    padding: 2px;
  }

  @media screen and (max-device-width: 414px) {
    .heading h1,
    .language-header h2,
    .contact-container h2,
    .about-info h2,
    .projects-header h2 {
      font-size: 40px;
    }
    .heading h2 {
      font-size: 20px;
    }
  }

  @media screen and (max-device-width: 369px) {
    .heading h1,
    .language-header h2,
    .contact-container h2,
    .about-info h2,
    .projects-header h2 {
      font-size: 35px;
    }
    .heading h2 {
      font-size: 15px;
    }
  }
}
