* {
  margin: 0;
  padding: 0;
  font-family: Helvetica Neue, sans-serif;
}

body{
  margin: 0 auto;
  box-sizing: border-box;
  overflow-x: hidden;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
}

/* -------------- Fonts structure  -------------- */
h2{
  font-size: 2.7rem;
}

h3{
  font-size: 1.4rem;
}

.heading h1{
  font-size: 2.9rem;
}

.heading h3{
  font-size: 1.5rem;
  color: white;
}

.heading p{
  font-size: 1.7rem;
}

.about p{
  font-size: 1.3rem;
}

.tag-span {
  font-size: 1rem;
  }

label {
  font-size: 1.5rem;
}

p, input, textarea {
  font-size: 1.3rem;
}

.about-info span {
}


/* Extras */

/* -------------- title desings structure  -------------- */
.title-design {
  display: inline-block;
  border-bottom: 3px solid black;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: -4px;
  text-align: center;
}

.h3-title-design {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: -2.5px;
  text-align: center;
}

/* -------------- Fade & Slide effect  -------------- */
.fade-in {
  opacity: 0;
  transition: opacity 1100ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}

.from-right {
  transform: translateX(50%);
}

.from-left {
  transform: translateX(-50%);
}

.from-right,
.from-left {
  transition: 
    opacity 1000ms ease-in, 
    transform 1000ms ease-in;
  opacity: 0;
}

.from-left.appear,
.from-right.appear {
  transform: translateX(0);
  opacity: 1;
}


/* -------------- Nav structure  -------------- */
nav {
  max-width: 4000px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: auto;
  height: 65px;
  align-items: center;
  margin: 0 1em;
}

.logo {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;

  align-items: center;
}
.bold  {
  font-weight: 800;
}

.menu-contact,
i {
  margin: 0;
  padding: 0 .1em;
  font-size: 1.3rem;
  align-items: center;
  text-align: center;
  color: black;
}

/* -------------- Heading structure  -------------- */.heading-container {
  height: 100vh;
  margin: 0 1em;
}

.heading {
  padding: 8em 0 0 0 ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading-btn {
  padding: 15em 0 0 0 ;
  text-align: center;
}

.heading h3 {
  margin: .3em auto 0 auto;
  align-items: flex-end;
  background-color: black;
  padding: .5em 1em;
}

.contact-btn button {
  box-sizing: content-box;
}

button,
.submit-btn {
  height: 50px;
  margin: .6em auto 0 auto;
  font-size: 1.3rem;
  padding: .3em 1em;
  color: black;
  background-color: transparent;
  border: 2px solid black;
  text-align: center;
}

button:hover,
.submit-btn:hover {
  border: none;
  color: white;
  background-color: black;
}

/* -------------- About structure  -------------- */
.about-container {
  padding: 3em 1em;
}
.about {
  margin: 2em 0;
  height: 70vh;
}

.about-info {
  text-align: center;
}

.about-info p {
  margin-top: 2em;
  font-weight: 300;
  letter-spacing: .5px;
  line-height: 1.2;

}

.about-info span {
  font-weight: 900;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: -1.2px;
}

/* -------------- Languages structure  -------------- */
.languages-container {
  padding: 3em 1em;
  height: 50vh;
}

.languages-container h3 {
  margin-top: 2.5em;
}

/* -------------- Tags structure  -------------- */
.lang-tags {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  margin: 2em 0;
}

.lang-tags div {
  margin: .7em 0;
}

.tag-span {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  background-color: black;
  padding: .2em .4em;
  border-radius: 3px;
} 

/* -------------- Projects structure  -------------- */
.projects-container {
  padding: 10em 1em;
  /* height: 100vh; */
}

.project-header {
  text-align: end;
  margin-bottom: 3em;
}

.projects {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.project-display {
  display: relative;
  width: 350px;
  height: 350px;
  background-size: cover;
  padding: 0;
  margin-bottom: 1em;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
}

.project-img,
.image-overlay,
.image-overlay-blur {
  max-width: 100%;
}

.image-overlay {
  width: 350px;
  height: 250px;
}

.image {
  position: relative;
}

.project-img {
  position: block;
  width: 350px;
  height: 250px;
  object-fit: cover;
}

.image-overlay {
  margin: 0 auto;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 400px;
  height: 250px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  opacity: 0;
  transition: opacity 0.25s;
}

.image-overlay-blur {
  backdrop-filter: blur(5px);
}

.image-overlay > * {
  transform: translateY(40px);
  transition: transform 0.25s;
}

.image-overlay:hover {
  opacity: 1;
}

.image-overlay:hover > * {
  transform: translateY(0);
}

.project-tags {
  margin-top: .5em;
  font-weight: 400;
}

.project-link {
  text-decoration: none;
  margin: 0 2em;
  padding: 10px 35px;
  font-weight: 400;
  top: 20px;
  right: 50px;
  background-color: blue;
  color: white;
  border-radius: 25px;
}

/* -------------- Contact structure  -------------- */
.contact-container {
  margin: 7em 1em;
  height: 70vh;
  max-width: 100%;
  max-height: 667px;
}

.contact-form {
  width: 100%;
  margin-top: 3em;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  margin: .5em auto;
}

.contact-form input {
  height: 60px;
}

.contact-form textarea {
  resize: none;
  height: 150px;
}

.social-icons {
  margin: 0 1em 2em 1em;
  color: black;
  text-align: center;
}
.social-icons i {
  padding: .5em;
}

.social-icons i:hover,
.menu-contact i:hover {
  opacity: 30%;
}

.hide {
  display: none;
}


/* Responsive desgin */

@media (min-width: 500px) {
  .menu-contact i {
    padding: .5em;
  }
  .lang-tags {
    grid-template-columns: repeat(3, 1fr);
  }
} 

@media (min-width: 729px) {
  .heading {
    padding: 10em 0 0 0 ;
  }
  .contact-btn {
    box-sizing: content-box;
  }
  .projects {
    justify-content: space-evenly;
  }
} 

@media (min-width: 1200px) {
  .tag-span {
    font-size: 1.5rem;
    }
  .contact-form {
    text-align: center;
  }
  .contact-form input,
  .contact-form textarea {
    max-width: 650px;
  }
} 

@media (min-width: 1200px) {
  .projects {
    justify-content: space-between;
  }
} 